<!DOCTYPE html>
<html>
<head>
  <title>Search Story</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<!-- boot angular with the ExampleApp module -->
<body ng-app="SearchApp">
  <!-- attach the ExampleController to our main content -->
  <div ng-controller="SearchController" class="container">
    <h1>Search Story</h1>
    <br/>

    <form ng-submit="search()">
      <div class="input-group input-group-lg">
        <input class="form-control" type="text" ng-model="searchText" placeholder="Search for ...">
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit">Search</button>
        </span>
      </div>
    </form><!-- /input-group -->

    <br/>
    <!-- if there is an error, display its message -->
    <div ng-if="error" class="alert alert-danger" role="alert">{{error.message}}</div>

    <!-- if clusterState is available, display it as formatted json -->

    <div ng-repeat="story in stories.hits.hits" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{story._source.title}}</h3>
      </div>
      <div class="panel-body">
          <p ng-repeat="fragment in story.highlight.body" >
            <span ng-bind-html="fragment"></span>
          </p>

      </div>
    </div>
  </div>

  <!-- include bower components in proper order -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>
  <!-- include apps js -->
  <script src="js/app.js"></script>
  <script src="js/controllers/SearchController.js"></script>
  <script src="js/services/esClient.js"></script>

</body>
</html>