<!DOCTYPE html>
<html>
<head>
  <title>Search Story</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<!-- boot angular with the ExampleApp module -->
<body ng-app="SearchApp">
  <!-- attach the ExampleController to our main content -->
  <div ng-controller="SearchController" class="container">
    <h1>Search Story</h1>

    <!-- if there is an error, display its message -->
    <div ng-if="error" class="alert alert-danger" role="alert">{{error.message}}</div>

    <!-- if clusterState is available, display it as formatted json -->
    <div ng-if="clusterState" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cluster State</h3>
      </div>
      <div class="panel-body">
        <pre>{{clusterState | json}}</pre>
      </div>
    </div>
  </div>

  <!-- include bower components in proper order -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>
  <!-- include apps js -->
  <script src="js/app.js"></script>
  <script src="js/controllers/SearchController.js"></script>
  <script src="js/services/esClient.js"></script>

</body>
</html>